* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html {
  overflow-x: clip;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

.profile-pic {
  max-width: 300px;
  max-height: 350px;
  object-fit: cover;
  box-shadow: 5px 5px 10px rgb(97 95 95 / 0.6);
}

header::before {
  content: "";
  position: absolute;
  top: -140px;
  left: 0;
  width: 100vw;
  height: 400px;
  background-color: #3cadcf;
  transform: skewY(-11deg);
  transform-origin: bottom;
  box-shadow: 5px 5px 10px rgb(97 95 95 / 0.6);
}

header {
  display: flex;
  align-items: center;
  padding: 80px 150px 0px;
}

.img-container {
  position: relative;
  color: #ffffff;
}

.img-text {
  position: absolute;
  bottom: 5px;
  left: 50%;
}

.about {
  position: relative;
  background-color: #ffffff;
  box-shadow: 5px 5px 10px rgb(97 95 95 / 0.6);
  padding: 10px;
}

main {
  position: relative;
  padding: 150px 150px 145px;
}

.cards-wrapper {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(50px, 300px));
  grid-auto-rows: auto;
  gap: 50px;
  max-width: 100%;
}

.card {
  box-shadow: 5px 5px 10px rgb(97 95 95 / 0.6);
}

.card > div:nth-child(2) {
  padding: 0px 10px 0px;
}

.card > div:nth-child(3) {
  padding: 0px 10px 40px;
}

.screenshot {
  display: flex; /* center text */
  align-items: center; /* center text */
  justify-content: center;
  background-color: maroon;
  color: #ffffff;
  padding: 100px;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul {
  display: flex;
  gap: 10px;
}

.github-icon {
  min-width: 23px;
  min-height: 23px;
}

.external-icon {
  max-width: 23px;
  max-height: 23px;
}

.phone-icon {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: -6px;
  min-width: 23px;
  min-height: 23px;
  background-image: url(./icons/phone.svg);
}

.email-icon {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: -6px;
  min-width: 23px;
  min-height: 23px;
  background-image: url(./icons/email.svg);
}

.contact-pic {
  max-width: 800px;
  max-height: 380px;
  object-fit: cover;
}

footer {
  background-color: #3cadcf;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  color: #ffffff;
  width: 100%;
  padding: 0px 150px 0px;
}

/* mobile */

@media (width <= 600px) {
  header {
    flex-direction: column;
    padding: 50px 0px 0px;
    gap: 40px;
  }

  .img-text {
    text-align: right;
    margin-right: 5px;
  }

  .about > h1 {
    text-align: center;
  }

  main {
    padding: 50px 10px 100px;
  }

  main * {
    text-align: center;
  }

  .cards-wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
  }

  .screenshot {
    padding: 100px;
  }

  footer {
    flex-direction: column;
    padding: 0px;
  }

  .contact > h1 {
    text-align: center;
  }

  .contact-pic {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 0px;
  }
}

/* tablet */

@media (width > 600px) and (width <= 1000px) {
  body {
    font-size: smaller;
  }

  header {
    display: block;
    margin: 0 auto;
  }

  .img-container {
    float: left;
    transform: translate(-11px, -5px);
    z-index: 1;
  }

  .img-text {
    white-space: nowrap;
    position: absolute;
    top: -10px;
    left: 210px;
  }

  .about {
    max-width: 420px;
    margin-top: 50px;
  }

  main {
    padding: 80px 80px 145px;
  }

  .cards-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(50px, 279px));
  }

  .screenshot {
    padding: 80px 120px;
  }

  footer {
    padding: 0px 80px 0px;
    gap: 50px;
  }

  .contact-pic {
    max-width: 400px;
    max-height: 300px;
    object-fit: cover;
    padding: 40px 0px;
  }
}

/* 4K screen for completeness */

@media (width >= 2000px) {
  header::before {
    top: -250px;
    height: 500px;
  }
}
